.cache
*.png
*.dim
*.pdf
page-*
Executioner
Jannisaries
Merchant_Girl*
Mounted_Bowmen
Peasants*
John_Stewart_of_Buchan-1
John_Stewart_of_Buchan-2
John_Stewart_of_Darnley-1
John_Stewart_of_Darnley-2
Mehmed_II-1
Mehmed_II-2
Vlad_Tepes-1
Vlad_Tepes-2
Patay-French
Targoviste-Mehmed
Targoviste-Tepes
